@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  align-items: center;
}
html{
	display: flex;
	height: 100vh;
	width: 50%;
	align-items: center;
	margin-left: 25%;
	margin-right: 25%;
	background-image: url('12.jpg');
   /* Required Height */
   height: 800px; 

   /* Center and scale the image nicely */
   background-position: center  !important;
}
body{
	text-align: center;
}
h1 {
	font-size: 5vw;
	text-align: center;
	margin: 0px 0 0px 0 !important;
}
h3 {
	text-align: center;
	margin: 0px 0 0px 0 !important;
}
textarea, button, input {
	margin: 10px 0 10px 0 !important;
}
p {
	text-align: center;
}
form {
	display: block;
	width: 100%;
}
a {
    text-decoration:none; 
}